<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149362612275-ajnadbm1fb297jjdl6eend1g12ruijlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149362612275-ajnadbm1fb297jjdl6eend1g12ruijlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149362612275-ndct00k7rtad9cmfvkntdptvq6618ies.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-rhd4FPA9aa315jk-LUdtwFvCpqnpH8</string>
	<key>GCM_SENDER_ID</key>
	<string>149362612275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvirbi.movershub</string>
	<key>PROJECT_ID</key>
	<string>movers-hub-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>movers-hub-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149362612275:ios:df1d54a0e607a7bfccab46</string>
</dict>
</plist>